/**
 * Default Layout Styles
 */

.layout-default {
  width: 100%;
  height: 100%;
}

.layout-default .canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-canvas);
  border-radius: var(--pane-radius);
  box-shadow: var(--pane-shadow);
  overflow: hidden;
}
